/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

.page-template-page-home{

.header{
    background-image:none;
}

.header-unit{
	 display:block;
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

video.fillWidth {
    width: 100%;
}

}


.homepage-logo{
    display:block;
    max-width: 1200px;
    margin: 0 auto;
    margin-top:5em;

    img{
    width:250px;
    }

}




.page-template-page-home-php{

header.header{
    height:700px;
}
    

} /* end home page styles*/
