/******************************************************************
Site Name:
Author:

Stylesheet: Class page styles

******************************************************************/

.woocommerce{
	
	.header{
	
	}

	h1{
	background:$red;
	}
}

.product-in-cat-86 .header, .product-in-cat-81 .header{
	
}

.woocommerce div.product .product_title {
    padding: .25em .5em;
    display: inline-block;

}

h1.product_title.entry-title {
    margin-bottom: 1em;
}

 .product_cat-music-lessons .woocommerce div.product {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
} 

.woocommerce #main{
	margin-top:2em;
	margin-bottom:7em;
	border-top: 10px solid $red;
	max-width:100%;
}

.woocommerce div.product form.cart .button {
    background:$red;

    &:hover{
     background: lighten($red, 10%)
    }
}


.wc-bookings-booking-form {
    border: 2px solid black;
    clear:both;
}

select#wc_bookings_field_resource {
    border: 2px solid black;
}

input#wc_bookings_field_duration {
    border: 2px solid black;
}

.wc-bookings-booking-form .block-picker li a.selected {
    color: rgb(255, 255, 255);
    background: $blue !important;
}

.wc-bookings-booking-form .block-picker li a{
  
  &:hover{
  background:$pink !important;
  }
}


.entry-summary h2{
	display:none;
}



.woocommerce div.product form.cart {
    margin-bottom: 2em;
    clear: both;
}

p a.gift-certificate-button{
	font-family:$intro;
	background:$medium-blue;
	text-decoration:none;
	color:$white;
	padding:1.5em 2.5em;
	display:inline-block;


	&:hover{
	background:$meta-gray;
	color:$white;
	}
}

p a.trial-lesson-button{
font-family:$intro;
	background:$red;
	text-decoration:none;
	color:$white;
	padding:1.5em 2.5em;
	display:inline-block;


	&:hover{
	background:$meta-gray;
	color:$white;
	}
	
}

p a.trial-lesson-button {
    color: white;

    &:hover{
    color:white;
    }
}

p a.gift-certificate-button{
	color:white;

	&:hover{
	color:white;
	}
}


/*Teacher section styling*/ 

.teacher-content{
	border-top: 10px solid $red;
	margin-top:4em;

.teacher-heading{
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
	align-content:flex-start;
	flex-wrap:wrap;

	p{
	max-width:650px;
	font-weight:100;
	}
}


h1{
	background:$red;
}

}


.teacher-container{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.teacher-item{
	width:320px;

	h5{
	margin:0;
	font-size:17px;
	}

	p{
	margin-top:0;
	}

	img{
	width:320px;
	height:215px;
	object-fit:cover;
	}
}

.teacher-link{
	display:inline-block;
	background:$red;
	color:$white;
	padding: .5em 1em;
	font-family:$intro;
	text-decoration:none;
	margin-bottom:1em;

	&:hover{
	color:$white;
	background:$meta-gray;
	}

}

p.price {
	font-weight:bold;
	}
