/******************************************************************
Site Name:
Author:

Stylesheet: Home Page Styles

******************************************************************/


.intro-block {
	margin-top:3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-start;
    align-content:flex-start;
}



.intro-block-content {
    width: 50%;
    margin-top: -27px;


    p{
    margin-top:0;
    font-size:20px;
    }

    .intro-button{
    background:$medium-blue;
    color:$white;
    padding:1em;
    font-family:$intro;
    text-decoration:none;
    margin-top:1em;
    display:inline-block;

    &:hover{
    background:$meta-gray;
    color:$white;
    }
    }
}

/* Homepage Newsfeed styles*/ 

.home-news-feed{
	border-top:10px solid $medium-blue;
	padding-top:2em;
	margin-top:2em;
	margin-bottom: 4em;
	

	h1{
	background:$medium-blue;
	display:inline-block;
	color:$white;
	padding: .25em .5em;

	}

	h5{
	font-size:20px;
	margin:0;
	line-height:1.4em;
	
	}

	.read-more-button{
	font-family:$intro;
	color:$black;
	border:2px solid $black;
	padding: .5em 1em;
	display:inline-block;
	text-decoration:none;
	font-size:18px;
	margin-top:1em;
	

	&:hover{
	color: $medium-blue;
	}
	}
	}
	
.news-button-wrapper{
	text-align:center;
}

.all-news-button{
	background:$medium-blue;
	color: $white;
	font-family:$intro;
	text-decoration:none;
	padding:1em 6em;
	display:inline-block;

	&:hover{
	background:$meta-gray;
	color:$white;
	}
}



.news-feed-container{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-bottom:3em;
}

.home-news-item{
	max-width:320px;
	margin-top:1em;

	img{
	width:320px;
	height:215px;
	object-fit:cover;
	}
}




/*Homepage Composer block styles*/ 

.home-featured-composers.wrap {
    margin-top: 3em;

}



.home-featured-composers{
	border-top: 10px solid $white;
	padding-bottom:2em;

	.page-heading-block{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	 margin-top: 2em;
    margin-bottom: 2em;
	}

	.subheading-content{
	margin:0;
	max-width:600px;
	}



	.read-more-button{
	font-family:$intro;
	color:$white;
	border:2px solid $white;
	padding: .5em 1em;
	display:inline-block;
	text-decoration:none;

	&:hover{
	color:$pink;
	}
	}
}

.home-composer-block{
	background:$dark-blue;
	overflow:auto;
	color:$white;
}

.featured-composers-subheader{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.featured-composer-content {
width:320px;

img{
	width:320px;
	height:215px;
	object-fit:cover;
}

h4{
	margin:0;
	font-size:17px;
}

p{
	margin:0;
	margin-bottom:2em;
	font-size:16px;
}
}

.home-commissions-container{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	margin-top:3em;
}

.commission-item{
	max-width:320px;

	h4{
	font-size:17px;
	margin:0;
	margin-bottom:2em;
	}

	img{
	width:320px;
	height:215px;
	object-fit:cover;
	}
}



/* Homepage current productions feed styles */ 


.home-productions-feed.wrap{
	margin-top:2em;
	border-top: 10px solid $pink;
	padding-bottom:2em;

	h1{
	display:inline-block;
	background:$pink;
	color:$white;
	padding: .25em .5em;
	margin-top:0;
	}

	.page-heading-block{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	 margin-top: 2em;
    margin-bottom: 2em;
	}

	.subheading-content{
	margin:0;
	max-width:600px;
	}
}

.productions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home-productions-item{
	

	h4{
	margin:0;
	color:$pink;
	}


	img{
	width: 465px;
	height:620px;
    object-fit: cover;
	}

	.read-more-button{
	display:inline-block;
	margin-top:1em;
	margin-bottom:1em;
	background:$pink;
	color:$white;
	font-family:$intro;
	text-decoration:none;
	padding: .5em 1em;

	&:hover{
	background:$meta-gray;
	color:$white;
	}
	}


}



/****** Media Queries *****/


@media screen and (max-width: 481px) {

.homepage-video iframe{
	max-width:100%;
}

.intro-block{
	margin-top:0;
}

.composer-video iframe{
	max-width:100%;
}

.home-productions-item img{
	width:96%;
	height:auto;
	}


} /* end media query */


@media screen and (max-width: 768px) {



.intro-block-content{
	width:100%;
}

.composer-video iframe{
	max-width:100%;
}

.homepage-video iframe{
	max-width:100%;
}

} /* end media query */ 