/******************************************************************
Site Name:
Author:

Stylesheet: Inner Page Styles

******************************************************************/

/*About page styles*/ 

.page-template-page-about-php{

#main{
	border-top:10px solid $medium-blue;
	padding-top:2em;
}

	.page-heading-block{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	  align-items:flex-start;
  align-content:flex-start;
  margin-bottom:4em;
	}

	.subheading-content{
	margin:0;
	max-width:70%;;
	}

h1{
	color:$white;
	background:$medium-blue;
	padding: .25em .5em;
	display:inline-block;
}

h2{
	color:$medium-blue;
}

.about-top{
	max-width:746px;
	margin:0 auto;
	margin-bottom:2em;
}

.about-bottom{
	border-top:10px solid $medium-blue;
}

.large-paragraph{
	font-size:24px;
}

h5{
	margin:0;
	font-size:18px;
}

.about-button{
	font-family:$intro;
	font-size:14px;
	color:$white;
	background:$medium-blue;
	padding: 1em;
	text-decoration:none;

	&:hover{
	background:$pink;
	color:white;
	}
}

.custom-counter li{
	 counter-increment: step-counter;
  margin-bottom: 10px;
}

.custom-counter li::before {
  content: counter(step-counter);
  font-family:$intro;
  margin-right:10px;
}

.about-video{
	margin:2em 0;
}

} /*end about page styles*/



/* Staff page styles*/ 


.page-template-page-staff-php{

#main{
	border-top:10px solid $medium-blue;
	padding-top:2em;
}

h1{
	color:$white;
	background:$medium-blue;
	padding: .25em .5em;
	display:inline-block;
}


.staff{
	h5{
	margin-bottom:0;
	}
}

.staff-row:nth-of-type(1){
	padding-top:2em;
}


.staff-row {
display: flex;
justify-content: space-between;
flex-wrap: wrap;


	img{
	width:320px;
	height:215px;
	object-fit:cover;
	}
}

.staff-content{
	max-width:60%;

	h5{
	margin:0;
	}
}


.board{
margin-top:2em;
padding-top:2em;
border-top:10px solid $medium-blue;

	h5{
	margin-bottom:0;
	}

	p{
	text-transform:uppercase;
	}
}


@media screen and (max-width: 768px) {


.staff-content{
	max-width:100%;
}


} /* end media query */ 



} /* end staff page styles*/ 


/* News feed styles*/ 

.blog, .single-post{



#main{
	border-top:10px solid $medium-blue;
	padding-top:2em;
}
	
h1{
	color:$white;
	background:$medium-blue;
	padding: .25em .5em;
	display:inline-block;
}

.entry-title{

	a{
	color:$white;

	&:hover{
	color:$pink;
	}
	}
}

.byline{
	margin-top:2em;
}

.news-feed{
	margin-top:4em;
}

article img{
	width:320px;
	height:215px;
	object-fit:cover;
}


} /* end news feed styles*/ 

.blog{
	
	@media screen and (min-width: 768px) {

article{
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
	align-content:flex-start;
}

article img{
	margin-right:2em;
}
}

}




/* Single post styles*/ 

.single{

#main{
	border-top:10px solid $medium-blue;
	padding-top:2em;
	max-width: 830px;
}

h1{
	color:$white;
	background:$medium-blue;
	padding: .25em .5em;
	display:inline-block;
}

.entry-title{
	a{
	color:$white;
	}
}

.post-nav{
	color:$pink;
	display:flex;
	justify-content:space-between;
}


} /* End single post styles*/ 



/* Contact page styles*/ 

.page-template-page-contact-php{



#main{
	border-top:10px solid $orange;
	padding-top:2em;
}

h1{
	color:$white;
	background:$orange;
	padding: .25em .5em;
	display:inline-block;
}

.entry-content{
	margin-top:2em;
}

.contact-page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:flex-start;
  align-content:flex-start;

  .address-box{
  margin-right:3em;
  }

  .contact-form {
    width: 65%;
}
}

.address-box{
border: 3px solid $orange;
padding:2em;

	h5{
	margin:0;
	font-size:18px;
	}

	a{
	color:$black;
	text-decoration:none;

	&:hover{
	color:$pink;
	}
	}
}



ul#gform_fields_1{
	
	input, textarea{
	border:1px solid $gray;
	margin-bottom:0;
	}

	label.gfield_label {
    font-family: $intro;
    font-weight:400;
}

}

input#gform_submit_button_1{
	font-family:$intro;
	border:none;
	background:$orange;
	color:$white;
	border-radius:0px;
	padding:1em 2em;

	&:hover{
	background:$meta-gray;
	}
}

.gform_footer.top_label{
	margin-top:0;
	padding-top:0;
}



} /* end contact page styles*/ 


@media screen and (max-width: 768px) {

.page-template-page-contact-php .contact-page-container .contact-form{
	width:100%;
}


}

 
 /* Donate page styles*/ 


.page-template-page-donate-php{



#main{
	border-top:10px solid $pink;
	padding-top:2em;
}

h1{
	background:$pink;
	color:$white;
	padding: .25em .5em;
	display:inline-block;
}


.donations{
	p{
	font-size:18px;
	}

	.bold-quote{
	font-family:$intro;
	}
}

.donate-page-button{
	font-size:24px;
	font-family:$intro;
	background:$dark-blue;
    border-radius: 65px;
    padding: 1.2em 3.5em;
	text-decoration:none;
	color:$white;
	display:inline-block;
	margin-bottom:2em;
	-webkit-box-shadow: 0px 8px 0px 0px rgba(75,184,210,1);
-moz-box-shadow: 0px 8px 0px 0px rgba(75,184,210,1);
box-shadow: 0px 8px 0px 0px rgba(75,184,210,1);

	&:hover{
	background:$pink;
	color:$white;
	}
	
}

.donate-address{
border:3px solid $dark-blue;
    padding: 1.5em 5em 1em;
	
	h5{
	font-size:18px;
	margin:0;
	}
}

.current-donors{
margin-top:2em;
padding-top:2em;
border-top:10px solid $pink;
font-size:18px;

	
	h5{
	margin:0;
	margin-bottom:-2em;
	}
}

.current-donor-content{
	padding-top:2em;
}



} /*end donate page styles*/


/*Commissions page styles*/ 

.post-type-archive-members{



#main{
	border-top:10px solid $dark-blue;
	padding-top:2em;
}
	

	h1{
	color:$white;
	background:$dark-blue;
	padding: .25em .5em;
	display:inline-block;
	margin:0;
	}



	.page-heading-block{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	  align-items:flex-start;
  align-content:flex-start;
	}

	.subheading-content{
	margin:0;
	max-width:70%;;
	}

.read-more-button{
	color:$white;
	background:$dark-blue;
	font-family:$intro;
	padding: .7em;
	text-decoration:none;

	&:hover{
	background:$meta-gray;
	}
}

.commissions-filter{
	input.sf-input-text {
    border: solid 2px black;
}

.searchandfilter select.sf-input-select {
    min-width: 170px;
    border: 2px solid black;
}

}

.commissions-container{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;

}

.commission-item{
	width: 320px;
	margin-bottom:1em;
}



.pagination{
	float:none;
}





} /*end Comissions page styles*/ 

.single-members{


#main{
	border-top:10px solid $dark-blue;
	padding-top:2em;
}

h1{
	background:$dark-blue;
	margin-bottom:1em;
}

.post-nav {
    display: flex;
    justify-content: space-between;
     border-top:10px solid $dark-blue;
    padding-top:2em;
}

.prev-next-post-nav{


    background: $dark-blue;
    color: white;
    padding:.5em 1em;

    &:hover{
    background:$meta-gray;
    }
   
   a{
   color:white;
   text-decoration:none;

   &:hover{
   color:white;
   }

    }


}
	
}


/* Musicians page styles*/ 

.page-template-page-musicians{
	

#main{
	border-top:10px solid $dark-blue;
	padding-top:2em;
	max-width:830px;
}
	

	h1{
	color:$white;
	background:$dark-blue;
	padding: .25em .5em;
	display:inline-block;
	margin-bottom:2em;
	}

	h4{
	margin:0;
	}

h5{
	margin:0;
	line-height:1.5em;
}

.section-title{
	color:$dark-blue;
	border-top: 10px solid $dark-blue;
	padding-top:1em;
}

.musican-item img{
	width:320px;
	height: 215px;
	object-fit:cover;
}





} /*end Musicicans page styles*/ 

p a.contact-button{
	color:$white;
	background:$dark-blue;
	font-family:$intro;
	padding: .7em;
	text-decoration:none;

	&:hover{
	background:$meta-gray;
	color:$white;
	}

}

.page-id-1441{

	#main{
	margin-top:2em;
	border-top: 10px solid $red;
	padding-top:2em;
	}
	
	.page-title{
	background:$red;
	color:$white;
	padding: .25em .5em;
    display: inline-block;
    margin-bottom:2em;
	}
}


input#nyp {
    border: 2px solid black;
}



/* Tickets/Merch page styles*/ 


.page-template-page-merchandise-php{
	
.header{
	
}

#main{
	border-top:10px solid $orange;
	padding-top:2em;
}

h1{
	color:$white;
	background:$orange;
	padding: .25em .5em;
	display:inline-block;
}

.entry-content{
	margin-top:2em;
}

h2.woocommerce-loop-product__title{
	color:$black;
}

a.button.product_type_variable{
	 color:$white;
	 background:$orange;
	 border-radius:0px;
	 font-family:$intro;

	 &:hover{
	 background:$meta-gray;
	 }
}

a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart{
	color:$white;
	 background:$orange;
	 border-radius:0px;
	 font-family:$intro;

	 &:hover{
	 background:$meta-gray;
	 }

}

a.button.product_type_simple.ajax_add_to_cart{
	color:$white;
	 background:$orange;
	 border-radius:0px;
	 font-family:$intro;

	 &:hover{
	 background:$meta-gray;
	 }
}

.woocommerce ul.products li.product a img {
    width: 465px;
    height: 620px;
    object-fit:cover;
}


}

/* Teachers archive styles */ 

.post-type-archive-teachers{


#main{
	border-top:10px solid $red;
	padding-top:2em;
}
	

	h1{
	color:$white;
	background:$red;
	padding: .25em .5em;
	display:inline-block;
	margin:0;
	}


	.read-more-button{
	color:$white;
	background:$red;
	font-family:$intro;
	padding: .7em;
	text-decoration:none;

	&:hover{
	background:$meta-gray;
	}
}

.teachers-container{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;

}

.teachers-item{
	width: 320px;
	margin-bottom:1em;
}



.pagination{
	float:none;
}

}


.single-teachers{


#main{
	border-top:10px solid $red;
	padding-top:2em;
}

h1{
	background:$red;
	margin-bottom:1em;
}

.post-nav {
    display: flex;
    justify-content: space-between;
     border-top:10px solid $red;
    padding-top:2em;
}

.prev-next-post-nav{


    background: $red;
    color: white;
    padding:.5em 1em;

    &:hover{
    background:$meta-gray;
    }
   
   a{
   color:white;
   text-decoration:none;

   &:hover{
   color:white;
   }

    }


}
	
}




