/******************************************************************
Site Name:
Author:

Stylesheet: Productions pages styles

******************************************************************/


/*Archive Productions template styles*/ 


.post-type-archive-productions{

#main{
	border-top:10px solid $dark-blue;
	padding-top:2em;
}
	

	h1{
	color:$white;
	background:$dark-blue;
	padding: .25em .5em;
	display:inline;
	}

	.productions-filter{
	margin-top:2em;
	margin-bottom:2em;

	h4{
	font-family:$source-sans;
	font-weight:400;
	text-transform:uppercase;
	}

	}

	.searchandfilter select.sf-input-select {
    min-width: 195px;
    border: 2px solid black;
}



.read-more-button{
	color:$white;
	background:$dark-blue;
	font-family:$intro;
	padding: .7em;
	text-decoration:none;

	&:hover{
	background:$meta-gray;
	}
}

.pagination{
	display:none;
}

.past-productions-container{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

.past-production {
margin-top:1.5em;

img{
	width:465px;
	height:620px;
	object-fit:cover;
}


}



} /*end Archive Productions template styles*/


/* Upcoming Productions page template styles*/ 

.page-template-page-upcoming-productions-php{
	

#main{
	border-top:10px solid $dark-blue;
	padding-top:2em;
}
	

	h1{
	color:$white;
	background:$dark-blue;
	padding: .25em .5em;
	display:inline;
	}


.page-heading-block {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
   align-items:flex-start;
  align-content:flex-start;
}

.subheading-content{
	max-width:60%;
}

h3{
	color:$dark-blue;
}

.read-more-button{
	color:$white;
	background:$dark-blue;
	font-family:$intro;
	padding: .7em;
	text-decoration:none;
	margin-top:1em;

	&:hover{
	background:$meta-gray;
	color:$white;
	}
}

.upcoming-productions-container{
border-top:10px solid $dark-blue;
	padding-top:2em;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	margin-top:4em;
}

.upcoming-production{

	max-width:465px;
	
	p{
	margin:0;
	}

	h3{
	margin-bottom:.5em;
	}

	img{
	width:465px;
	height:620px;
	object-fit:cover;
	}
}

.event-details{
	margin-bottom:2em;
}



} /*end Upcoming Productions page template styles */ 





/*Single Production template styles*/ 


.single-productions{

#main{
	border-top:10px solid $dark-blue;
	padding-top:2em;
}
	

	h1{
	color:$white;
	background:$dark-blue;
	padding: .25em .5em;
	display:inline-block;
	margin:0;
	margin-bottom:2em;
	}
	

.tickets-button{
	font-family:$intro;
	background:$medium-blue;
	font-size:17px;
	color:$white;
	padding: 1em 2em;
	text-decoration:none;

	&:hover{
	background:$meta-gray;
	color:$white;
	}
}

.production-image img{
	width:570px;
	height:760px;
	object-fit:cover;
	
}

.post-nav{
	color:$link-color;
	display:flex;
	justify-content:space-between;
	margin-bottom:1em;
}


}




/* Event Tickets product styling */ 

.woocommerce div.product form.cart .variations select {
    border: 2px solid black;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    border: 2px solid black;
}

woocommerce .quantity .qty {
    border: 2px solid black;
}

.wc-box-office-ticket-form .wc-box-office-ticket-fields .wc-box-office-ticket-fields-title a {
    color: $red;
}

.product_cat-event-tickets{
	
	.woocommerce-product-gallery{
	display:none;
	}

.summary.entry-summary {
    float:none !important;
    width: 100%;
}

form.variations_form.cart{
	max-width:600px;
}

}

.wc-box-office-ticket-fields.active {
    margin-top: 6em;
}

.woocommerce .quantity .qty {
    border: 2px solid black;
}

h3.wc-box-office-ticket-fields-title {
    margin-top: 6em;
}


@media screen and (max-width: 768px) {

.page-template-page-upcoming-productions-php .upcoming-production {
    max-width: 380px;
    img{
    width:100%;
    }
}

}
